@import "compass/css3";

$blurred-img:"http://i.imgur.com/nGZ7soE.gif";

body {
	background-color: #F9FCFA;
}
.top-bar {
	background: transparent !important;
    border-bottom: 0;
    z-index: 1000;
    top: 20px;
    width: 100%;
    position: absolute;

    ul {
    	background-color: transparent !important;

    	a {
    		font-family: Roboto;
		    font-size: 1.25rem;
		    color: white;
		    font-weight: bold;
    	}
    } 

    .top-bar-left {
    	padding-left: 1.5rem;

    	svg {
    		height: 70px;
    		float: left;
    	}

    	p {
    		float: left;
		    font-size: 1.5rem;
		    font-family: Roboto;
		    color: white;
		    font-weight: bold;
		    padding-top: 0.5rem;
		    padding-left: 1rem;
    	}
    }
}

.banner-container{
	position: relative;
}
.blurred-bg{

	background-image:url($blurred-img);
	background-repeat:no-repeat;
	@include background-size(cover);
	background-attachment: fixed;
   
	&.tinted{
		@include background-image(linear-gradient(0deg, #000000, rgba(255, 255, 255, 0.2)),url($blurred-img));
	}
	&.shaded{
		@include background-image(linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2)),url($blurred-img));
	}
}
.box {
	width: 345px;
    height: 560px;
    left: -webkit-calc( 50% - 175px );
    top: 13%;
    position: absolute;
    border: 0.5px solid #777777;
	padding: 10px;
	text-align: center;
	@include box-sizing(border-box);
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
  	display: flex;
  	transition: box-shadow .3s ease;
  
	.content {
		margin-left: 11.5%;
	    width: 80%;

	    .logo {
	    	margin-top: 3.75rem;
    		margin-bottom: 3rem;

    		img {
    			height: 50px;
    			width: 90px;
    		}
	    }
	}

	.banner-destination {
		height: 50px;
    	padding-top: 2rem;

		.banner-left-current {
			float: left;

			p {
				font-size: 2rem;
	    		font-weight: 300;
			}
		}

		.banner-right-current {
			float: right;

			p {
				font-size: 2rem;
	    		font-weight: 300;
			}
		}

		.banner-des-icon {
			float: left;
	    	padding-left: 1.35rem;

	    	svg {
	    		height: 86px;
	    		bottom: 0.5rem;
	    		position: relative;
	    		fill: #B9BFD9;
			}
		}
	}

	.destination-details {
    	bottom: 3rem;
    	position: relative;
	    height: 50px;
	    
	    .left-current-details {
	    	float: left;
	    	clear: both;
	    	
	    	span {
				font-weight: 200;
	    	}
	    }

	    .right-current-details {
	    	float: right;

	    	span {
	    		font-weight: 200;
	    	}
	    }
	}

	.type-flight {
		font-size: 1.25rem;
	    position: relative;
	    height: 10px;
	    position: relative;
	    margin-top: 0.5rem;
	    padding-top: 0.65rem;
	}

	.book-button {
		border: 1px solid #B9BFD9;
	    position: relative;
	    margin-top: 7rem;
	    padding-top: 0.65rem;

	    p {
			font-size: 1.55rem;
	    }
	}
}

h1,h2,a,p {
	color: #B9BFD9;
	font-weight: 100;
	font-family: Roboto;
  
	.tinted & {
		color: #B9BFD9;
		text-shadow: 0 1px 1px rgba(255,255,255,.2);
	}
}

.tinted h1 {
	font-family: Roboto;
    font-weight: 100;
    font-size: 1.55rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #FFFFFF;
}

h2 { 
	font-size: 14px;
	font-family: Roboto;
}

p { 
 	margin: 20px;
  	
  	&.related {
	    text-transform: uppercase;
	    font-weight: 700;
	    color: white;
    
    a {
      font-weight: 700;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.row {
	h2 {
		font-family: Roboto;
		font-weight: bold;
		padding-top: 1rem;
	}

	p {
		color: RGB(130, 141, 154);
	}
}

.row.column.text-center {
	width:70%;
	margin-top: 3rem;
}

.main-listings.row {
	// background-color: #2B2F33;
	margin-top: 0rem !important;
	padding: 3rem;
	max-width: 83rem;
	
	.column {
    	padding-top: 1rem;
    	background-color: RGB(228, 228, 228);
    	width: 18rem;
   		margin-right: 1rem;
    	margin-bottom: 1rem;
    	// background: linear-gradient(rgba(110, 99, 103, 0.45), rgba(255, 0, 0, 0.45)), url('https://images.unsplash.com/photo-1417217601328-d3c66e6f1d48?crop=entropy&fit=crop&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1325')center / cover;
		
		.img_container { 
			margin:0; 
			position:relative;

			.image-content {
				width: 85%;
			    height: 85%;
			    margin-left: auto;
			    margin-right: auto;
			    padding-top: 21%;
			    border: 2px solid white;
			    left: 50%;
			    top: 50%;
			    -webkit-transform: translate(-50%, -50%);
			    -moz-transform: translate(-50%, -50%);
			    transform: translate(-50%, -50%);
			    position: absolute;
			    z-index: 100000;

				h5 {
		    	    font-family: Roboto;
				    font-weight: bold;
				    font-size: 1.45rem;
				    color: white;
				    position: relative;
				    z-index: 10000;
				    text-align: center;
    			}   

		    	p {
		    		float: left;
				    font-family: Roboto;
				    color: #E1E7EC;
				    font-weight: bold;
				    font-size: 0.95rem;
				    position: relative;
				    z-index: 10000;
				    text-align: center;
				    clear: both;
				    width: 100%;
		    	}
			}
		} 

		.img_container:after { 
			content:''; 
			display:block; 
			position:absolute; 
			width: 100%; 
			height: 100%; 
			background: RGB(41, 45, 50);
			opacity: 0.80;
			z-index:1; 
			top:0;
		}

    	a {
    		border: 2px solid #767B80;
    		color: #767B80;
		    font-family: Roboto;
		    text-transform: uppercase;
		    letter-spacing: 0.75rem;
		    font-weight: bold;
		    background-color: transparent;
		    margin-top: 1rem;
    	}
	}
}

.callout.primary {
	width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent !important;
    border: 1px solid RGB(41, 45, 50);

    h3 {
    	font-size: 1.5rem;
    	font-family: roboto;
    	text-align: center;
    }
}

$breakpoint-tablet: 1311px;
@media (max-width: $breakpoint-tablet) {
	.main-listings.row {
	    max-width: 63rem;
	}
}

$breakpoint-tablet: 1019px;
@media (max-width: $breakpoint-tablet) {
	.main-listings.row {
	    max-width: 43rem;

	    .column:nth-child(even) {
			margin-right: 0;
		}
	}
}

$breakpoint-tablet: 1000px;
@media (max-width: $breakpoint-tablet) {
  .box {
  	width: 600px;
    height: 441px;
    left: -webkit-calc( 50% - 304px );
    top: 20%;

    .content {
    	margin-left: 10.6%;
    	width: 80%;

    	.logo {
    		margin-top: 1.75rem;
    		margin-bottom: 1rem;

    	}

    	.banner-destination {
    		height: 50px;
		    padding-top: 2rem;
		    width: 68%;
		    margin-left: auto;
		    margin-right: auto;

		    .banner-des-icon {
		    	padding-left: 2.65rem;
		    }
    	}
    	
    	.destination-details {
    		bottom: 3rem;
		    position: relative;
		    height: 50px;
		    width: 69%;
		    margin-left: auto;
		    margin-right: auto;
    	}

    	.type-flight {
    		font-size: 1.25rem;
		    position: relative;
		    height: 10px;
		    position: relative;
		    margin-top: 0.5rem;
		    padding-top: 0.65rem;
		    margin-left: auto;
		    margin-right: auto;
		    width: 19%;
    	}

    	.book-button {
    		border: 1px solid #B9BFD9;
		    position: relative;
		    margin-top: 5rem;
		    padding-top: 0.65rem;
    	}
    }

  }
}

$breakpoint-tablet: 880px;
@media (max-width: $breakpoint-tablet) {
	.top-bar-left {
		display: none;
	}

	.top-bar-right {
		float: left !important;
	}
	.box {
		width: 100%;
	    left: 0;
    	position: relative;
	}

	.banner-container {
		img {
			display: none;
		}

		.content {
			.logo {
				margin-top: 7.75rem;
    			margin-bottom: 1rem;

    			img {
    				display: inline-block;
    			}
			}

			.banner-destination {
				display: none;
			}

			.destination-details {
				display: none;
			}

			.type-flight {
				display: none;
			}

			.book-button {
				margin-top: 2rem;
			    margin-bottom: 2rem;
			    padding-top: 0.65rem;
			    width: 50%;
			    margin-left: auto;
			    margin-right: auto;
			}
		}
	}

	.main-listings.row {
		max-width: 43rem;

		.column:nth-child(even) {
			margin-right: 0;
		}
	}
}

$breakpoint-tablet: 688px;
@media (max-width: $breakpoint-tablet) {
	
	.banner-container {
		background-image: none;
    	background-color: black;
    	background-size: 0;

    	.blurred-bg.tinted {
			background-image: none;
			background: RGB(41, 45, 50);
		}

	}


	.main-listings.row {
		max-width: 24rem;
	}
}

